# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: python:3.9
    steps:
      - checkout
      - run:
          name: Install python-dev
          command: |
            apt-get update;
      - run:
          name: Install Tox
          command: pip install tox
      - run:
          name: Run tests
          command: tox

workflows:
  version: 2
  run_tests:
    jobs:
      - build
