{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Transifex formats testbed</title>

  <!-- Standard Javascript stack (jQuery, Underscore, Backbone) -->
    <script src="{% static "libraries/js/jquery.js" %}"></script>
    <script src="{% static "libraries/js/underscore.js" %}"></script>
    <script src="{% static "libraries/js/backbone.js" %}"></script>

  <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "libraries/css/bootstrap.css" %}" />
    <script src="{% static "libraries/js/bootstrap.js" %}"></script>

  <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/home.css" %}" />

  <!-- Namespaces -->
    <script src="{% static "js/namespace.js" %}"></script>

  <!-- Template data -->
    <script>
      var Testbed = window.Testbed;
      var TemplateData = Testbed.namespace('template_data');
      {% if payload_json %}
        TemplateData.payload_json = JSON.parse('{{ payload_json|escapejs }}');
      {% else %}
        TemplateData.payload_json = null;
      {% endif %}
    </script>

  <!-- Testbed code -->
    <script src="{% static "js/globals.js" %}"></script>
    <script src="{% static "js/views.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

  <!-- Templates -->
    <script id="string-template" type="text/template">
      <div class="js-simple">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <strong><%- string.key %>:</strong>
        <%- string.strings[5] %>
      </div>
      <div class="js-expanded hidden">
        <table class="table-condensed">
          <tr>
            <th>Key</th>
            <td><%- string.key %></td>
          </tr>
          <tr>
            <th>Template replacement</th>
            <td><%- string.template_replacement %></td>
          </tr>
          <tr>
            <th>Strings</th>
            <td>
              <table class="table-condensed">
                <thead>
                  <tr>
                    <th>Rule</th>
                    <th>String</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var rule in string.strings) { %>
                    <% var value = string.strings[rule] %>
                    <tr>
                      <th><%- rule %></th>
                      <td>
                        <textarea data-rule="<%- rule %>" class="form-control"
                                  rows="1"><%- value %></textarea>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              Pluralized: <strong><%- string.pluralized %></strong>,
              Order: <strong><%- string.order || 'none' %></strong>,
              Context: <strong><%- string.context || 'none' %></strong>,
              Character limit: <strong><%- string.character_limit || 'none' %></strong>,
              Occurrences: <strong><%- string.occurrences || 'none' %></strong>,
              Developer comment: <strong><%- string.developer_comment || 'none' %></strong>,
              Flags: <strong><%- string.flags || 'none' %></strong>,
              Fuzzy: <strong><%- string.fuzzy || 'none' %></strong>,
              Obsolete: <strong><%- string.obsolete || 'none' %></strong>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a class="js-remove text-danger" href="#">
                <span class="glyphicon glyphicon-remove"></span>
                delete
              </a>
            </td>
          </tr>
        </table>
      </div>
    </script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://www.transifex.com/home"
           target="_blank">
          Transifex
        </a>
      </div>
      <ul class="nav navbar-nav">
        <li><p class="navbar-text"><a href="{% url "testbed_home" %}">
          formats testbed
        </a></p></li>
        <li><p class="navbar-text">
          <a id="keyboard-shortcuts-toggle" href="#" data-toggle="modal"
             data-target="#keyboard-shortcuts">
            Keyboard shortcuts
          </a>
        </p></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/transifex/txformats" target="_blank">
          Fork me on GitHub
        </a></li>
      </ul>
      <form id="save-form" action="{% url "testbed_save" %}" method="post"
            class="navbar-form navbar-right">
        {% csrf_token %}
        <input name="payload" type="hidden" />
        <button type="submit" class="btn btn-default">Save</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><p class="navbar-text">Panels:</p></li>
        <li>
          <div id="panel-toggles" class="btn-group" role="group"
               aria-label="...">
            <button data-value="source" type="button"
                    class="js-source navbar-btn btn btn-default btn-primary">
              Source
            </button>
            <button data-value="parsed" type="button"
                    class="js-parsed navbar-btn btn btn-default">
              Parsed
            </button>
            <button data-value="compiled" type="button"
                    class="js-compiled navbar-btn btn btn-default">
              Compiled
            </button>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <div id="mycss-container" class="container-fluid">
    <div id="mycss-row" class="row">
      <div data-value="source" class="js-panel mycss-panel-column col-xs-12">
        <div class="mycss-panel panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Source</h3></div>
          <div class="mycss-panel-body panel-body">
            <form id="source-form">
              <div class="form-group">
                Handler:
                <select class="form-control" name="handler">
                  <option value="">Please select</option>
                  {% for handler in handlers %}
                    <option value="{{ handler }}">{{ handler }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                Source content:
                <textarea name="source" class="form-control"
                          rows="32"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Parse</button>
            </form>
          </div>
        </div>
      </div>
      <div data-value="parsed"
           class="js-panel mycss-panel-column col-xs-12 hidden">
        <div class="mycss-panel panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">
            Parsed <small id="parsed-loading" class="hidden">loading...</small>
          </h3></div>
          <div id="parsed-main" class="mycss-panel-body panel-body">
            <div class="mycss-half-panel panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Stringset</h3>
              </div>
              <div class="mycss-half-panel-body panel-body">
                <div id="stringset" class="list-group"></div>
              </div>
            </div>
            <div class="mycss-half-panel panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Template</h3>
              </div>
              <div class="mycss-half-panel-body panel-body">
                <pre id="template" class="hidden"></pre>
              </div>
            </div>
            <button id="compile-button" type="submit" class="btn btn-default">
              Compile
            </button>
          </div>
          <div id="parsed-error" class="mycss-panel-body panel-body hidden">
            <span class="label label-danger">Parse error:</span>
            <pre></pre>
          </div>
        </div>
      </div>
      <div data-value="compiled"
           class="js-panel mycss-panel-column col-xs-12 hidden">
        <div class="mycss-panel panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">
            Compiled
            <small id="compiled-loading" class="hidden">loading...</small>
            <small id="compiled-comparison" class="hidden"
              data-same="The compiled file is the same as the source file"
              data-different="The compiled file is not the same as the source file"
            ></small>
          </h3></div>
          <div id="compiled-main"
               class="mycss-panel-body mycss-scroll panel-body">
            <pre id="compiled" class="hidden"></pre>
          </div>
          <div id="compiled-error" class="mycss-panel-body panel-body hidden">
            <span class="label label-danger">Compile error:</span>
            <pre></pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if payload_json %}
    <div id="saved-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>
              Your test has been saved, use the current browser address to
              replay it
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="modal fade" id="keyboard-shortcuts" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Keyboard shortcuts</h4>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr>
                <th>Key</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1, 2, 3</th>
                <td>Toggles the main panels (source, parsed, compiled)</td>
              </tr>
              <tr>
                <th>h</th>
                <td>Focuses the handler selection dropdown</td>
              </tr>
              <tr>
                <th>s</th>
                <td>Focuses the source content textarea</td>
              </tr>
              <tr>
                <th>p</th>
                <td>Parses the source content</td>
              </tr>
              <tr>
                <th>t</th>
                <td>Focuses the first string (translation) in edit mode</td>
              </tr>
              <tr>
                <th>c</th>
                <td>Compiles the template against the stringset</td>
              </tr>
              <tr>
                <th>w</th>
                <td>Saves (writes) the current test</td>
              </tr>
              <tr>
                <th>?</th>
                <td>Opens this dialog</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
