{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Transifex formats testbed</title>

  <!-- Standard Javascript stack (jQuery, Underscore, Backbone) -->
    <script src="{% static "libraries/js/jquery.js" %}"></script>
    <script src="{% static "libraries/js/underscore.js" %}"></script>
    <script src="{% static "libraries/js/backbone.js" %}"></script>

  <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static "libraries/css/bootstrap.css" %}" />
    <script src="{% static "libraries/js/bootstrap.js" %}"></script>

  <!-- CSS -->
    <link rel="stylesheet" href="{% static "css/home.css" %}" />

  <!-- Testbed code -->
    <script src="{% static "js/namespace.js" %}"></script>
    <script src="{% static "js/globals.js" %}"></script>
    <script src="{% static "js/views.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="https://www.transifex.com/home">
          Transifex
        </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <p class="navbar-text">Panels:</p>
          </li>
          <li>
            <div id="panel-toggles" class="btn-group" role="group"
                 aria-label="...">
              <button data-value="source" type="button"
                      class="js-source navbar-btn btn btn-default btn-primary">
                Source
              </button>
              <button data-value="parsed" type="button"
                      class="js-parsed navbar-btn btn btn-default btn-primary">
                Parsed
              </button>
              <button data-value="compiled" type="button"
                      class="js-compiled navbar-btn btn btn-default">
                Compiled
              </button>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div id="mycss-container" class="container-fluid">
    <div id="mycss-row" class="row">
      <div id="source-panel" data-value="source" class="js-panel mycss-panel-column col-xs-6">
        <div class="mycss-panel panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Source</h3></div>
          <div class="mycss-panel-body panel-body">
            <form id="source-form">
              <div class="form-group">
                Handler:
                <select class="form-control" name="handler">
                  <option value="">Please select</option>
                  {% for handler in handlers %}
                    <option value="{{ handler }}">{{ handler }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                Source content:
                <textarea name="source" class="form-control"
                          rows="32"></textarea>
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div id="parsed-panel" data-value="parsed" class="js-panel mycss-panel-column col-xs-6">
        <div class="mycss-panel panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Parsed</h3></div>
          <div class="mycss-panel-body panel-body">
            <div class="panel panel-default" style="height: 50%">
              <div class="panel-heading">
                <h3 class="panel-title">Stringset</h3>
              </div>
              <div class="panel-body">
                stringset
              </div>
            </div>
            <div class="panel panel-default" style="height: 50%">
              <div class="panel-heading">
                <h3 class="panel-title">Template</h3>
              </div>
              <div class="panel-body">
                template
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="compiled-panel" data-value="compiled"
           class="js-panel mycss-panel-column col-xs-6 hidden">
        <div class="mycss-panel panel panel-default">
          <div class="panel-heading"><h3 class="panel-title">Compiled</h3></div>
          <div class="mycss-panel-body panel-body">
            compiled
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
